<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FAFO: HTMX & JSONata</title>
  <link rel="stylesheet" href="/public/build/tailwind.css" />
</head>

<body class="bg-slate-900 h-screen">
  <div class="flex h-full">
    <div class="flex flex-col w-2/4 p-2">
      <div class="h-2/4 m-4">
        <h1 class="text-gray-100">Input</h1>
        <textarea
          class="block p-2.5 w-full h-full text-sm text-gray-900 bg-gray-200 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          id="json-input" name="json_input" hx-include="#mapping-writer" hx-trigger="load, keyup delay:500ms"
          hx-target="#mapping-results" hx-post="/validate-mapping" hx-indicator="#indicator">
    {
    "hello": "Hey fella",
    "numbers" : [1,2,3,4]
    }</textarea>
      </div>
      <div class="h-full m-4">
        <h1 class="text-gray-100">Mapping</h1>
        <textarea
          class="block p-2.5 w-full h-full text-sm text-gray-900 bg-gray-200 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          name="mapping_writer" id="mapping-writer" hx-target="#mapping-results" hx-post="/validate-mapping"
          hx-trigger="keyup changed delay:500ms" hx-include="#json-input">
    {
    "new_mapping": hello,
    "sum" : $sum(numbers)
    }</textarea>
      </div>
    </div>
    <div class="w-2/4 p-2">
      <div id="indicator" class="htmx-indicator">Validating...</div>
      <div id="mapping-results"> </div>
    </div>
  </div>
</body>
<script src="https://unpkg.com/htmx.org@1.9.2"
  integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>

</html>